.smaller-title {
    font-size: 2.5em!important;
}

.sidebar-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    max-width: 200px;
    margin: auto;
}

.post-title-container > img,
.post-title-container > p {
    display: inline-block;
}

.post-icon {
    display: inline;
    margin:0;
}

.book-paragraph {
    text-indent: 40px;
    margin: 0px;
}

.page-news {
    background-color: #ebece1;
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.column-30 {
    float: left;
    width: 30%;
    padding: 5px;
}

.column-70 {
    float: left;
    width: 70%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
